<div id="license" class="container-fluid div-panel">
	<div class="row-fluid">
		<h4><i class="icon-lock"></i> License Information  </h4>
		
		<hr>
		<img alt="Company Logo" id="CompanyLogo" src="{{Company.Logo}} || 'img/company_placeholder.png"></br>
		<span><strong>Company</strong> {{Company.Name}}</span>

	</div>
	<hr>
	<div class="row-fluid">
		<h4><i class="icon-key"> </i> License Information</h4>
		<span><strong>User Limit</strong> {{Company.MaxUsers}} </span> </br>
		<span><strong>License Expiry</strong> {{Company.Expiry}} </span>magrin-bbb
	</div>

	<div class="row-fluid">
		<span><strong>Current User</strong> {{User.First}} {{User.Last}} </span>
	</div>
	
	
</div>
