<div id="license" class="container-fluid div-panel">
	<div class="row-fluid">
		<h4>License Information <i class="icon-lock"> </i> </h4>
		
		<hr>
		<img src="img/sussex_logo.PNG" style="margin-bottom: 25px"></img> </br> 
		<span><strong>Company</strong> {{Company.Name}}</span>

	</div>
	<hr>
	<div class="row-fluid">
		<h4><i class="icon-key"> </i> License Information</h4>
		<span><strong>User Limit</strong> {{Company.MaxUsers}} </span> </br>
		<span><strong>License Expiry</strong> {{Company.Expiry}} </span>
	</div>

	<div class="row-fluid">
		<span><strong>Current User</strong> {{User.First}} {{User.Last}} </span>
	</div>
	
	
</div>
