<div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">

	<div class="modal-header">
		<h3 id="myModalLabel">Login</h3>
	</div>

	<div class="modal-body">
		<div id="wrapper">
			<div class="user-icon"> </div>
			<div class="pass-icon"> </div>

			<form name="login-form" class="login-form" action="" method="post">
				<div class="header">
					myClubLink

				</div>
				<div class="content">
					<input name="username" type="text" class="input username" placeholder="Username">
					<input name="password" type="password" class="input password" placeholder="Password">
				</div>

				<div class="footer">
					<input type="submit" ng-click="Login()" name="submit" value="Login" class="button">
				</div>
			</form>
		</div>

	</div>

	<div class="modal-footer">
		<strong>myClubLink (ALPHA) &copy 2013</strong>
	</div>

</div>