<script type="text/javascript" src="js/Chart.min.js"></script>

<div id="report" class="container-fluid div-panel" ng-init="Init()">
	<div class="row-fluid">
		<h4><i class="icon-bar-chart"></i> Sample Reports </h4>	
	</div>

	<hr>
        <div class="row-fluid charts">
                <div class="span5">
                        <h5> Total KM per Day (est)</h5>
                        <canvas id="barreport" height="350" width="350"></canvas>
                </div>

                <div class="span5">
                        <h5> System Use </h5>
                        <canvas id="piereport" height="350" width="350"></canvas>
                </div>

        </div>
		
</div>
