<div id="settings" class="container div-panel">
	<h4><i class="icon-cog"></i> Settings </h4>


	<div class="accordion" id="accordionuser">

		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionuser" href="#collapseOne">
					<i class="icon-user"></i>  User Settings
				</a>
			</div>

			<div id="collapseOne" class="accordion-body collapse in">
				<div class="accordion-inner">
					<div class="well">
						<label><strong>Current User</strong> {{User.First}} {{User.Last}}</label>
						<label><strong>Access Level</strong> {{User.Access}}</label>

						<div class="control-group">
							<div class="controls">
								<div class="input-prepend">

									<button id="settingsReset" ng-click="Password.ToggleResetWidget()" class="btn"> Reset
										Password
									</button>

									<div ng-hide="Password.Hidden">

										<input type="text" placeholder="Old Password ..." ng-model="Password.Old">
										<input type="text" placeholder="New Password ..." ng-model="Password.New">
										<input type="text" placeholder="Confirm New Password ..."
										       ng-model="Password.NewConfirm">
										<button class="btn btn-primary" ng-click="Password.Update()"><i
											class="icon-pencil"> </i> Update
										</button>
									</div>
								</div>

							</div>
							<span class="text-error" ng-show="Password.Error"><i class="icon-exclamation"></i> {{Password.Error}}</span>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="accordion-group" id="accordionmap">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionmap" href="#collapseTwo">
					<i class="icon-globe"> </i> Map Settings
				</a>
			</div>

			<div id="collapseTwo" class="accordion-body collapse out">
				<div class="accordion-inner">
					<div class="well">
						<div class="btn-group">
							<a class="btn" href="#"><i class="icon-compass icon-white"> </i> {{Settings.Map.API}}</a>
							<a class="btn dropdown-toggle" data-toggle="dropdown"
							   href="#">
								<span class="caret"> </span>
							</a>
							<ul class="dropdown-menu">
								<li><a href=""><i class="icon-globe"> </i> Google Maps</a></li>
								<li><a href=""><i class="icon-globe"> </i> Leaflet </a></li>
								<li><a href=""><i class="icon-globe"> </i> Bing Maps</a></li>
								<li><a href=""><i class="icon-globe"> </i> Map Quest</a></li>
							</ul>
						</div>

						<div class="control-group">
							<div class="controls">
								<label class="text"> <input type="checkbox" ng-model="Settings.Map.Marker.Smooth"> Smooth
									Movement
								</label>
								<label class="text"> <input type="checkbox" ng-model="Settings.Map.Marker.SnaptoRoad"> Snap to
									Road</label>
								<span>Pan camera every </span><label class="text"> <input type="number"
								                                                          ng-model="Settings.Map.Marker.FollowVehicleTrigger">
								updates</label>
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<label class="text"> <input type="checkbox" ng-model="Settings.Network.EnableRF"> Allow
									communication from Radio Frequencies </label>
								<label class="text"> <input type="checkbox" ng-model="Settings.Network.Enable3G"> Allow
									communication from 3G </label>
							</div>
						</div>
					</div>
				</div>



			</div>

		</div>


		<div class="accordion-group" id="accordionsecurity">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionsecurity"
				   href="#collapseThree">
					<i class="icon-lock icon-white"></i> Security Settings
				</a>
			</div>


			<div id="collapseThree" class="accordion-body collapse out">
				<div class="accordion-inner">

					<div class="well">
						<div class="control-group">
							<div class="controls">
								<label class="text"> <input type="checkbox" ng-model="Settings.Security.RemoteSupport">
									Allow
									support to remotely administer my system </label>
								<label class="text"> <input type="checkbox"
								                            ng-model="Settings.Security.SystemConsoleAccess"> Allow
									system console access </label>
								<label class="text"> <input type="checkbox"
								                            ng-model="Settings.Security.AdminPasswordResetOnly">
									Only allow admins to change user passwords </label>
							</div>
						</div>
					</div>

				</div>

			</div>



			<div class="accordion-group" id="accordionmobile">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionmobile"
					   href="#collapseFource">
						<i class="icon-mobile-phone icon-white"></i> Mobile Settings
					</a>
				</div>


				<div id="collapseFource" class="accordion-body collapse out">
					<div class="accordion-inner">
						<div class="well">
							<form id="mobileOptions">
								<div class="control-group">
									<div class="controls">
										<label class="text"> <input type="checkbox" ng-model="Settings.Mobile.AllowSmartPhone">
											Allow
											myClubLink smartphone application system access</label>
										<label class="text"> <input type="checkbox"
										                            ng-model="Settings.Mobile.ShowSmartPhoneLocation"> Show
											exact bus location to smartphone users (not recommended) </label>

									</div>
								</div>
							</form>
						</div>
					</div>






		</div>




