<div id="support" class="container-fluid div-panel" ng-init="Init()">

	<div class="row-fluid">
		<h4><i class="icon-group"> </i> Request Support </h4>
		<label><strong>Company</strong> {{Company}} </label>
		<label><strong>User</strong> {{User.First}} {{User.Last}} </label>
	</div>
	
	<hr>

	<div class="container-fluid">
		<label>Please type a message below and we will get back to you as soon as possible.</label>
		
		<strong>We would love to read your feedback and suggestions</strong>
		<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
			
			<div id="editor"></div>
			<button class='btn btn-primary'>Send</button>
		</div>
		
	</div>
</div>
