<div class="container-fluid div-panel">
    <div id="MapCanvas" class="span9 div-panel" ng-init="MapReload()"></div>

    <div class="span3">
        <!-- &copy; 2014  move this to about page-->
        <span id="clock"><i class="icon-time"></i> {{clock.time}}</span>
        <div class="accordion">



            <div class="accordion-group" id="accordionsystemmessages">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionsystemmessages"
                       href="#collapsemessages">
                        <i class="icon-comments"> </i>

                        <span class="badge badge-important"
                              ng-show="SystemMessageCount()">{{SystemMessageCount()}}</span>
                        System Messages
                    </a>
                </div>

                <div id="collapsemessages" class="accordion-body collapse out">
                    <div class="accordion-inner">
                        <div class="well">
                            <div id="SystemMessages" class="container">
                                <ul id="Messages">
                                    <li ng-show="!SystemMessage.Read" ng-repeat="SystemMessage in SystemMessages()">
                                        <span ng-class="{ 'text-success' : SystemMessage.Information, 'text-error': SystemMessage.Warning}">
                                            <button ng-click="MarkSystemMessageRead(SystemMessage.MsgDateTime)"
                                                    class="btn btn-mini"><i class="icon-trash"></i> Mark read
                                            </button>
                                            <span>{{SystemMessage.Text}} {{SystemMessage.MsgDateTime}}</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>


    </div>

    <div id="ViewMode" class="span3 well">
        <div class="tabbable">

            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#displayLive" data-toggle="pill" ng-click="LiveMode(true)"> Live</a>
                </li>
                <li>
                    <a href="#displayHistorical" data-toggle="pill" ng-click="LiveMode(false)"> Historical</a>
                </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="displayLive">
                    <p>
                        myClubLink is currently showing real-time vehicle positions.
                    </p>

                    <p>
                        <span id="trackVehicleCount" ng-class="{ badge: true, 'badge-success': VehiclesCount}">{{VehiclesCount}}</span>
                        Vehicles currently being tracked
                    </p>

                    <p class="text-info">
                        Last position received {{LastUpdate}} ago
                    </p>
                </div>

                <div class="tab-pane centerit" id="displayHistorical">

                    <span>Select settings below to show historical routes</span>

                    <div class="container-fluid">

                        <div class="control-group">
                            <label class="control-label" for="inputIcon">From</label>

                            <div class="controls">
                                <div id="routeDateFrom" class="input-append date">
                                    <span class="add-on"> <i data-time-icon="icon-time"
                                                             data-date-icon="icon-calendar"></i> </span>
                                    <input data-format="dd/MM/yyyy hh:mm:ss" type="text" ng-model="routeDateFrom">
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="inputIcon">To</label>

                            <div class="controls">

                                <div id="routeDateTo" class="input-append date">
                                    <span class="add-on"> <i data-time-icon="icon-time"
                                                             data-date-icon="icon-calendar"></i> </span>
                                    <input data-format="dd/MM/yyyy hh:mm:ss" type="text" ng-model="routeDateTo">
                                </div>
                            </div>
                        </div>


                    </div>

                    <button id="showRoute" class="btn btn-primary" ng-click="ShowRoute()"><i class="icon-road"></i> Show
                        Route
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

