

<div class="div-panel">
	{.session}}
	<div class="row-fluid">
		<h4><i class="icon-user"></i> Current User </h4>
		<label> {{.FirstName}} {{.LastName}} </label>
	</div>

	<div class="row-fluid">
		<h4><i class="icon-user"></i> License Information </h4>
		<span><strong>Company</strong> {{.Name}}</span>
	</div>
	
	<div class="row-fluid">
		<h4><i class="icond-globe"></i> Constraints</h4>
		<span>User Limit <Label>{{.MaxUsers}} </label></span>
		<span>License Expiry <Label>{{.Expiry}} </label></span>
	</div>
</div>




