

<div class="div-panel">

	<div class="row-fluid">
		<h4><i class="icon-user"></i> License Information </h4>
		<span><strong>Company</strong> {{.Company.Name}}</span>
	</div>
	<hr>
	<div class="row-fluid">
		<h4><i class="icon-key"></i> License Restrictions</h4>
		<span><strong>User Limit</strong> {{.Company.Maxusers}} </span> </br>
		<span><strong>License Expiry</strong> {{.Company.Expiry}} </span>
	</div>

	<div class="row-fluid">
		<span><strong>Current User</strong> {{.User.Firstname}} {{.User.Lastname}} </span>
	</div>


	
</div>




