

<div id="settings" class="container div-panel">
	<h4> Settings <i class="icon-cog"> </i></h4>
	
	<h5><i class="icon-user"> </i> User Settings </h5>
	<div class="well">
		<label><strong>Current User</strong> {{.User.Firstname}} {{.User.Lastname}}</label>
		<label><strong>Access Level</strong> {{.User.Accesslevel}}</label>
		
		<div class="control-group" >
			<div class="controls">
				<div class="input-prepend">
				
					<button id="settingsReset" class="btn"> Reset Password</button>
					<input type="text" placeholder="Old Password ..." name="userOptionOldPassword" hidden>
					<input type="text" placeholder="New Password ..." name="userOptionNewPassword">
					
					<button class="btn"><i class="icon-remove"> </i> Cancel</button>
					<button class="btn btn-primary"><i class="icon-pencil"> </i> Update</button>
				</div>
			</div>
		</div>
	</div>
	
	<hr>
	
	<h5><i class="icon-globe"> </i> Map API </h5>
	<div class="well">
		<div class="btn-group">
              <a class="btn" href="#"><i class="icon-compass icon-white"> </i> {{.Settings.MapAPI}}</a>
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                 <span class="caret"> </span>
                </a>
              <ul class="dropdown-menu">
              	<li><a href="#"><i class="icon-globe"> </i>  Google Maps</a></li>
              	<li><a href="#"><i class="icon-globe"> </i>  Leaflet </a></li>
                <li><a href="#"><i class="icon-globe"> </i>  Bing Maps</a></li>
                <li><a href="#"><i class="icon-globe"> </i>  Map Quest</a></li>
              </ul>
        </div>
        
	</div>
	
  	<h5> <i class="icon-check-sign"> </i> Map Options</h5>  	
  	<div class="well">
	  	<form id="mapOptionsNew">
	  		<div class="control-group">
	  			<div class="controls">
	  				<label class="text"> <input type="checkbox" name="mapOptionInterpolate" {{if .Settings.Interpolate}} checked {{end}}>  Interpolate movement </label>
	  			</div>	
	  		</div>
	  		
	  		<div class="control-group">
	  			<div class="controls">
	  				<label class="text"> <input type="checkbox" name="mapOptionSnapToRoad" {{if .Settings.SnaptoRoad}} checked {{end}}> Snap to Road </label>	
	  			</div>
	  		</div>
			<div class="control-group">
				<div class="controls">
					<label class="text"> <input type="checkbox" name="mapOptionReceiveRF" checked> Allow communication from Radio Frequencies </label>
					<label class="text"> <input type="checkbox" name="mapOptionReceiveInternet" checked> Allow communication from 3G </label>
				</div>
			</div>
	  	</form>
	</div>

	<h5> <i class="icon-lock icon-white"> </i> Security </h5>
	<div class="well">
		<form id="securityOptions">
			<div class="control-group">
				<div class="controls">
					<label class="text"> <input type="checkbox" name="securityOptionRemoteAccess" checked> Allow support to remotely administer my system </label>
					<label class="text"> <input type="checkbox" name="securityOptionLimitedUser"> Allow system console access </label>
					<label class="text"> <input type="checkbox" name="securityOptionPasswordChange" checked> Only allow admins to change user passwords </label>
				</div>
			</div>
		</form>
	</div>
	
	<h5> <i class="icon-mobile-phone icon-white"> </i> Mobile  </h5>	
  	<div class="well">
		<form id="mobileOptions">
			<div class="control-group">
				<div class="controls">
					<label class="text"> <input type="checkbox" name="mobileOptionAllowSmartphoneApp" checked> Allow myClubLink smartphone application system access</label>
					<label class="text"> <input type="checkbox" name="mobileOptionAllowSmartphoneAppExactBusLocation"> Show exact bus location to smartphone users (not recommended) </label>
						
				</div>
			</div>
		</form>
	</div> 
    

</div>




